*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    width : 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    background-color: #8e8a8ab1;
}

#display{
    position: relative;
    top: 10px;
    height: 100px;
    width: 280px;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #0798ec4b;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: auto;
    white-space: nowrap;
}



.buttons{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

#equal{
    background-color: #ff0000;
    color: white;
}

#equal:hover{
    background-color: #ff4d4d;
    transform: scaleZ(1.1);
}

button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fdba00;
    cursor: pointer;
}

button:hover{
    background-color: #ffc964;
    transform: scaleZ(1.1);
}